:root {
  --primary-very-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);

  --neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  width: 100%;
  min-height: 100dvh;
  font-size: 16px;
  font-weight: 400;
  background: url("images/bg-pattern-top-mobile.svg") top center no-repeat,
    url("images/bg-pattern-bottom-mobile.svg") bottom center no-repeat;
  background-size: contain;
  color: var(--neutral-dark-grayish-magenta);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
  max-width: 360px;
  margin: 2rem auto 0;
  padding: 1rem;
  display: grid;
  gap: 3rem;
}

main section.one,
main section.two,
main section.three {
  display: grid;
  gap: 1rem;
}

main section.one h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0 1rem;
  color: var(--primary-very-dark-magenta);
}

main section.one p {
  font-size: 1.1rem;
  text-align: center;
}

main section.two div.rating {
  width: 100%;
  background-color: var(--neutral-light-grayish-magenta);
  color: var(--primary-very-dark-magenta);
  font-weight: 700;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

main section.three article.testimoni {
  background-color: var(--primary-very-dark-magenta);
  color: var(--neutral-white);
  padding: 2rem;
  border-radius: 6px;
}

section.three article.testimoni div.profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

article.testimoni div.profile figure {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

div.profile figure img {
  width: 100%;
  height: 100%;
}

div.profile div.info h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 6px;
}

div.profile div.info p {
  color: var(--primary-soft-pink);
}

section.three article.testimoni p.content {
  font-weight: 500;
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.3rem;
}

footer {
  width: 100%;
  text-align: center;
  padding: 2rem;
}

@media (min-width: 600px) {
  body {
    background: url("images/bg-pattern-top-desktop.svg") top center no-repeat,
      url("images/bg-pattern-bottom-desktop.svg") bottom center no-repeat;
  }

  main {
    min-width: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "one one one two two two"
      "three three three three three three";
    align-items: start;
  }

  main section.one {
    grid-area: one;
  }

  main section.one h1 {
    text-align: left;
    padding: 0;
  }

  main section.one p {
    text-align: left;
  }

  main section.two {
    grid-area: two;
    gap: 0.5rem;
  }

  section.three {
    grid-area: three;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 834px) {
  body {
    background: url("images/bg-pattern-top-desktop.svg") top center no-repeat,
      url("images/bg-pattern-bottom-desktop.svg") bottom center no-repeat;
  }

  main {
    flex: none;
    margin-top: 0;
    max-width: 1200px;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 2rem;
  }

  main section.one {
    padding: 2rem;
  }

  main section.one h1 {
    width: 100%;
    max-width: 310px;
    font-size: 3rem;
  }

  main section.one p {
    max-width: 440px;
    line-height: 1.5rem;
  }

  main section.two {
    padding: 3rem 0;
  }

  main section.two div.rating {
    max-width: 400px;
    flex-direction: row;
  }

  main section.two div.rating:nth-child(2) {
    margin: auto;
  }

  main section.two div.rating:nth-child(3) {
    margin-left: auto;
  }

  main section.three {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(16rem, 1fr);
  }

  main section.three article.testimoni:nth-child(1) {
    align-self: start;
  }

  main section.three article.testimoni:nth-child(2) {
    align-self: center;
  }

  main section.three article.testimoni:nth-child(3) {
    align-self: end;
  }
}
